@model Bowler


<div class="text-center">
    <h2>A new bowler has been added to the databse</h2>
    <br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Home</a>
</div>