@{
}

@model IEnumerable<string>


<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-team="" class="btn btn-block btn-outline-secondary">Home</a>

    @foreach (string t in Model)
    {
        <!--This viewbag statement is just a compressed if-statement-->
        <a asp-controller="Home" asp-action="Index" asp-route-team="@t" 
           class="btn btn-block @(ViewBag.SelectedTeam == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }
</div>